.container {
  padding: 0 2rem;
  background-color: #0b0b0b;
  height: 100%;
  display: grid;
  place-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-shadow: 2px 4px 18px #ff007a3d;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.gradient {
  color: inherit;
  background-image: linear-gradient(
      28deg,
      #ff00a8 9%,
      hsla(166.76, 96.03%, 29.61%, 0.009498300300538887) 93%
    ),
    linear-gradient(
      237deg,
      #ff005c 18%,
      hsla(153.75, 98.46%, 25.49%, 0.5665674709371393) 100%
    ),
    linear-gradient(282deg, #ffa700 38%, #e462ff 100%);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
